@use "../custom" as *;
.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding-right: 10px;
  input {
    border: none;
    width: 100%;
    outline: none;
    padding: 2px 8px 12px;
    cursor: pointer;
  }
  span{
    color: $primary-color;
  }
}
.filter__widget{
    select{
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 8px 20px;
    background:$primary-color;
    color: #fff;
    option{
        font-size: 0.9rem;
    }
    & :focus{
        outline: none !important;
    }
    }
}
@media only screen and (max-width:992px) {
  .filter__widget{
    margin-bottom: 30px;
    margin: 0px;
    select{
    margin-bottom: 10px;
    padding: 7px 20px;
    }
  }
  @media only screen and (max-width:576px) {
    .filter__widget{
      text-align: start !important;
    }
  }
}